[submodule "modules/PX4-Autopilot"]
	path = modules/PX4-Autopilot
	url = git@github.com:RETINA-UAV/PX4-Autopilot.git
	branch = sky-eye

[submodule "modules/px4_ros_com_ros2/src/px4_ros_com"]
	path = modules/px4_ros_com_ros2/src/px4_ros_com
	url = git@github.com:RETINA-UAV/px4_ros_com.git
[submodule "modules/px4_ros_com_ros2/src/px4_msgs"]
	path = modules/px4_ros_com_ros2/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git

[submodule "modules/microros_ws/src/micro_ros_setup"]
	path = modules/microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = foxy

[submodule "modules/retina_pkg"]
	path = modules/retina_pkg
	url = https://github.com/RETINA-UAV/retina_pkg.git